Cython==3.0.9
ipykernel==6.25.2
ipython==8.15.0
jupyter_client==8.3.1
jupyter_core==5.3.1
lightning-utilities==0.11.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
nltk==3.8.1
numpy==1.25.2
opencv-python==4.9.0.80
pandas==2.1.0
pillow==10.2.0
plotly==5.16.1
prompt-toolkit==3.0.39
pytorch-lightning==2.2.1
safetensors==0.4.2
scikit-learn==1.3.0
scipy==1.11.2
supervision==0.3.0
timm==0.9.16
tokenizers==0.15.2
torch==2.2.1
torchmetrics==1.3.2
torchvision==0.17.1
transformers==4.39.1